/*
    Stylesheet for the BULB buttons
*/

body {
    background-color: #1f1f1f;
}

.bulb {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100000;
    border: none;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    background-color: orange;
    overflow: hidden;
    width: calc(100% - 20px);
    height: 35px;
    transition: background-color ease-in-out .2s;
    margin: 10px;
}

.bulb p {
    all: unset;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    color: #1f1f1f;
    font-size: 14px;
}

.bulb div {
    position: absolute;
    background-color: orange;
    top: 0;
    left: 0;
    height: 100%;
    transition: width ease-in-out .5s;
    visibility: hidden;
}

.bulb.success {
    background-color: green;
    cursor: unset;
}

.bulb.running {
    background-color: #181818;
}

.bulb.running div {
    visibility: visible;
}

.bulb.error {
    background-color: red;
}

.bulb:hover:not(.running, .success) {
    background-color: orangered;
}
